[Desktop Entry]
Name=SpectEmu
Comment=Sinclair ZX Spectrum emulator
Comment[pl]=Emulator ZX Spectrum 48k
Exec=xspect
Icon=spectemu
Terminal=true
Type=Application
Categories=Utility;Emulator;
# vi: encoding=utf-8
